header {
  min-height: 100vh;
  margin-top: 55px;
  background-image: url('https://img.freepik.com/free-vector/vibrant-pink-watercolor-painting-background_53876-58930.jpg?size=626&ext=jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}

main {
  scroll-behavior: smooth;
}

section {
  align-items: center;
}

.row {
  margin: 0 !important;
}

#portfolio {
  background-color: #ffc0cb;
    color: white;
  justify-content: center;
}

.portfolio-item {
  width: 30%;
  margin: 10px;
}

#about {
  background-color: #b6fc;
  color: white;
}

#about img {
  border-radius: 50%;
  height: 50%
}

